.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
  }
.main {
  margin: auto;
  text-align: center;
  padding: 100px 80px;
  background-color:#dee7ec;
  float: initial;
}
.footer {
  background-color:#2f5167;
  color: #fff;
  height: 100px;
}
table {
margin:0 auto;
}
form {
margin: 0 auto;
}